In [1]:
import auto_sort_data

In [2]:
import build_data_vis

In [3]:
directory = build_data_vis.find_directory() + '/vis_buses/'

In [4]:
directory_new=build_data_vis.find_directory() + '/sorted_data/'

In [5]:
print (directory)
print (directory_new)

/Users/babita/KCM_WORK/my research works/New_test//vis_buses/
/Users/babita/KCM_WORK/my research works/New_test//sorted_data/

In [6]:
import os
def check_directory_existence(directory):
    return os.path.exists(directory)

In [7]:
build_data_vis.build_module_average_df(directory, 'bus_1', 1)

,< 2.0,2,2.2,2.4,2.6,2.8,3,3.2,3.4,3.6,3.8,>= 4.0,TOTAL
DateRetrieved,,,,,,,,,,,,,
2017-09-20 06:36:19,0,0,0,0,127,226879,2601804,13728787,2060319,81412,0,0,18699328
2017-09-20 08:29:04,0,0,0,0,12,110505,2566545,14090318,1914435,17513,0,0,18699328
2018-03-20 10:36:30,0,0,0,0,369,332949,2613591,13485229,2098514,168676,0,0,18699328
2018-07-31 06:14:11,0,0,0,0,24,125100,2576091,14042824,1934353,20936,0,0,18699328
2018-07-31 06:30:55,0,0,0,0,539,359234,2613940,13427657,2105483,192475,0,0,18699328
...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,0,0,0,0,510,190512,4083068,21651787,3054384,60660,0,0,29040921
NaN,0,0,0,0,1194,538432,4145804,20755450,3246999,353041,1,0,29040921
NaN,0,0,0,0,563,213689,4103070,21570151,3083451,69997,0,0,29040921
NaN,0,0,0,0,952,251073,4121799,21461983,3118184,86930,0,0,29040921
NaN,0,0,0,0,1201,454328,4153447,20916379,3256308,259258,0,0,29040921

In [8]:
import pandas as pd
for module in range(1, 17):
    module_df = build_data_vis.build_module_average_df(directory, 'bus_1/', module)
   
    total_df = module_df.reset_index().loc[:, ['TOTAL']]
    total_df = total_df.rename(columns={'TOTAL': f'Module No. {module} Total'})
    if module == 1:
        final_df = module_df.reset_index().loc[:, ['DateRetrieved']]
    final_df = pd.concat([final_df, total_df], axis=1)
    
final_df

,DateRetrieved,Module No. 1 Total,Module No. 2 Total,Module No. 3 Total,Module No. 4 Total,Module No. 5 Total,Module No. 6 Total,Module No. 7 Total,Module No. 8 Total,Module No. 9 Total,Module No. 10 Total,Module No. 11 Total,Module No. 12 Total,Module No. 13 Total,Module No. 14 Total,Module No. 15 Total,Module No. 16 Total
0,2017-09-20 06:36:19,18699328,47370981,16399289,47370820,47370742,12837933,47371009,16399072,16399226,16399035,12837791,18699310,12837830,24741066,47370993,47370656
1,2017-09-20 08:29:04,18699328,47370981,16399289,47370820,47370742,12837933,47371009,16399072,16399226,16399035,12837791,18699310,12837830,24741066,47370993,47370656
2,2018-03-20 10:36:30,18699328,47370981,16399289,47370820,47370742,12837933,47371009,16399072,16399226,16399035,12837791,18699310,12837830,24741066,47370993,47370656
3,2018-07-31 06:14:11,18699328,47370981,16399289,47370820,47370742,12837933,47371009,16399072,16399226,16399035,12837791,18699310,12837830,24741066,47370993,47370656
4,2018-07-31 06:30:55,18699328,47370981,16399289,47370820,47370742,12837933,47371009,16399072,16399226,16399035,12837791,18699310,12837830,24741066,47370993,47370656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,NaN,29040921,10333867,26744914,10338578,4907629,23181461,10332095,26745903,26745156,26742660,21696,623,23303843,5041068,10466239,10466182
212,NaN,29040921,10333867,26744914,10338578,4907629,23181461,10332095,26745903,26745156,26742660,21696,623,23303843,5041068,10466239,10466182
213,NaN,29040921,10333867,26744914,10338578,4907629,23181461,10332095,26745903,26745156,26742660,21696,623,23303843,5041068,10466239,10466182
214,NaN,29040921,10333867,26744914,10338578,4907629,23181461,10332095,26745903,26745156,26742660,21696,623,23303843,5041068,10466239,10466182
215,NaN,29040921,10333867,26744914,10338578,4907629,23181461,10332095,26745903,26745156,26742660,21696,623,23303843,5041068,10466239,10466182

In [9]:
#Time of Failure for every module in a particular bus
def tof(directory,bus):
    mtf={}
    directory_path=directory+bus
    #print(directory_path)
    if check_directory_existence(directory_path):
        print("Bus Folder Found")
        df_bus_dates = build_data_vis.sort_bus_by_date(directory, bus)
        no_of_files=df_bus_dates.shape[0]
        print ("Number of files in this bus are ", no_of_files)
        for i in range (1,17):
            mtf.update({f'{i}':[]})
        
        for module in range(1, 17):
            module_df = build_data_vis.build_module_average_df(directory, bus, module)
            for i in range (no_of_files-1):
    
                if (module_df.iloc[i,12]>module_df.iloc[i+1,12]):
                    mtf[f'{module}'].append(round(module_df.iloc[i,12]))
        #print(mtf)
        mtf_df=pd.DataFrame.from_dict(mtf,orient = 'index')
        if mtf_df.empty:
            print('The Bus is Healthy')
        else:
            print('Unhealty',mtf_df)

    else:
        print("The Bus Didn't Found")

In [10]:
#Time of Failure for every module in a particular bus
def tof_all_buses(directory,bus):
    mtf={}
    directory_path=directory+bus
    if check_directory_existence(directory_path):
       # print(bus)
        df_bus_dates = build_data_vis.sort_bus_by_date(directory, bus)
        no_of_files=df_bus_dates.shape[0]
       # print ("Number of files in this bus are ", no_of_files)
        for i in range (1,17):
            mtf.update({f'{i}':[]})
        
        for module in range(1, 17):
            module_df = build_data_vis.build_module_average_df(directory, bus, module)
            for i in range (no_of_files-1):
    
                if (module_df.iloc[i,12]>module_df.iloc[i+1,12]):
                    mtf[f'{module}'].append(round(module_df.iloc[i,12]))
        #print(mtf)
        mtf_df=pd.DataFrame.from_dict(mtf,orient = 'index')
        if mtf_df.empty:
            print(bus+' is Healthy')
        else:
            print(bus+' is Unhealthy')
            print(mtf_df)

In [11]:
tof(directory,'bus_13')

Bus Folder Found
Number of files in this bus are  4
Unhealty            0
1   32737061
2   32737183
3   32737075
4   32737108
5   32736897
6   32737125
7   32737222
8   32737133
9   32736791
10  32737050
11  32737119
12  32737190
13  32737073
14  32736951
15  32737232
16  32737063

In [12]:
bus_list=[]
bus_unhealthy_list=[]
bus_healthy_list=[]
for i in range (1,200):
    bus='bus_'+str(i)
    tof_all_buses(directory,bus)
    mtf={}
    directory_path=directory+bus
    if check_directory_existence(directory_path):
       # print(bus)
        bus_list.append(bus)
        df_bus_dates = build_data_vis.sort_bus_by_date(directory, bus)
        no_of_files=df_bus_dates.shape[0]
       # print ("Number of files in this bus are ", no_of_files)
        for i in range (1,17):
            mtf.update({f'{i}':[]})
        
        for module in range(1, 17):
            module_df = build_data_vis.build_module_average_df(directory, bus, module)
            for i in range (no_of_files-1):
    
                if (module_df.iloc[i,12]>module_df.iloc[i+1,12]):
                    mtf[f'{module}'].append(round(module_df.iloc[i,12]))
        #print(mtf)
        mtf_df=pd.DataFrame.from_dict(mtf,orient = 'index')
        if mtf_df.empty:
            bus_healthy_list.append(bus)
        else:
            bus_unhealthy_list.append(bus)

bus_1 is Unhealthy
             0
1          NaN
2   47370981.0
3          NaN
4   47370820.0
5          NaN
6          NaN
7   47371009.0
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15  47370993.0
16  47370656.0
bus_4 is Healthy
bus_6 is Healthy
bus_7 is Healthy
bus_10 is Healthy
bus_13 is Unhealthy
           0
1   32737061
2   32737183
3   32737075
4   32737108
5   32736897
6   32737125
7   32737222
8   32737133
9   32736791
10  32737050
11  32737119
12  32737190
13  32737073
14  32736951
15  32737232
16  32737063
bus_18 is Healthy
bus_20 is Healthy
bus_21 is Healthy
bus_23 is Unhealthy
             0
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6   29481615.0
7   47067488.0
8          NaN
9          NaN
10         NaN
11         NaN
12  47052402.0
13         NaN
14         NaN
15         NaN
16         NaN
bus_24 is Healthy
bus_28 is Healthy
bus_30 is Unhealthy
             0
1   28032274.0
2   28032394.0
3          NaN
4   28032255.0
5          NaN
6   28032608.0
7   28032423.0
8   28032337.0
9   28032282.0
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16  28034194.0
bus_31 is Healthy
bus_33 is Healthy
bus_34 is Unhealthy
           0           1
1   17177293         NaN
2   17177259         NaN
3   17177328         NaN
4   17177444         NaN
5   17177383         NaN
6   17177252         NaN
7   17177593         NaN
8   17177436         NaN
9   17177334         NaN
10  17177253  17177246.0
11  17177422         NaN
12  17177262         NaN
13  17177469  17177462.0
14  17177413         NaN
15  17177785         NaN
16  17177446         NaN
bus_35 is Unhealthy
             0
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13  47719572.0
14         NaN
15         NaN
16         NaN
bus_36 is Healthy
bus_37 is Healthy
bus_38 is Healthy
bus_39 is Healthy
bus_41 is Healthy
bus_42 is Healthy
bus_44 is Healthy
bus_48 is Healthy
bus_49 is Healthy
bus_50 is Healthy
bus_51 is Healthy
bus_55 is Unhealthy
             0
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6   25267379.0
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14  25267397.0
15         NaN
16         NaN
bus_57 is Healthy
bus_61 is Unhealthy
             0
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7   37543230.0
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
bus_63 is Healthy
bus_66 is Unhealthy
             0
1          NaN
2   32982549.0
3   32982698.0
4   32983001.0
5   32982804.0
6   32982636.0
7   32983018.0
8   32982626.0
9   32982662.0
10         NaN
11  32982648.0
12  32982798.0
13  32982717.0
14  32982754.0
15  32982857.0
16         NaN
bus_68 is Unhealthy
             0
1   32332218.0
2   32332705.0
3   32332179.0
4   32332332.0
5   32332260.0
6   32332378.0
7   32332598.0
8   32332578.0
9   32332320.0
10         NaN
11  32332400.0
12  32332452.0
13  32332393.0
14         NaN
15  32332435.0
16  32332385.0
bus_73 is Healthy
bus_74 is Healthy
bus_75 is Unhealthy
           0
1   23103444
2   23103339
3   23103479
4   23103333
5   23103206
6   23103540
7   23103564
8   23103371
9   23103211
10  23103262
11  23103304
12  23103439
13  23103527
14  23103524
15  23103258
16  23103384
bus_77 is Healthy
bus_80 is Healthy
bus_88 is Unhealthy
             0
1          NaN
2          NaN
3          NaN
4   33948866.0
5          NaN
6          NaN
7   33944930.0
8   33943015.0
9          NaN
10  33939055.0
11         NaN
12         NaN
13  33939091.0
14         NaN
15  33963224.0
16         NaN
bus_90 is Unhealthy
             0
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7   33730655.0
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
bus_91 is Healthy
bus_97 is Unhealthy
             0
1          NaN
2   27395196.0
3   27398468.0
4   27395183.0
5   27394687.0
6   27395164.0
7          NaN
8   27398224.0
9          NaN
10         NaN
11  27398115.0
12         NaN
13  27394952.0
14  27394711.0
15  27394827.0
16  27396463.0
bus_99 is Healthy
bus_103 is Healthy
bus_108 is Unhealthy
             0
1          NaN
2   40726767.0
3   40726444.0
4   40726689.0
5   40726784.0
6   40726564.0
7   40726652.0
8   40726654.0
9   40726948.0
10  40726950.0
11  40726586.0
12         NaN
13  40726520.0
14         NaN
15  40726843.0
16  40726744.0
bus_109 is Healthy
bus_111 is Unhealthy
             0
1          NaN
2   41424762.0
3   41424631.0
4   41424785.0
5   41424811.0
6   41424510.0
7          NaN
8          NaN
9   41424340.0
10         NaN
11         NaN
12  41424781.0
13         NaN
14         NaN
15         NaN
16  41424842.0
bus_112 is Healthy
bus_115 is Healthy
bus_116 is Healthy
bus_117 is Healthy
bus_118 is Unhealthy
             0
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15  48740454.0
16         NaN
bus_119 is Unhealthy
             0
1   32664777.0
2          NaN
3          NaN
4          NaN
5   32665126.0
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11  32665111.0
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
bus_123 is Unhealthy
             0
1   30924427.0
2   30924507.0
3   30924820.0
4          NaN
5   30924499.0
6   30924328.0
7          NaN
8   30924371.0
9   30924367.0
10  30924471.0
11  30924411.0
12  30924425.0
13  30923651.0
14  30924581.0
15  30924751.0
16  30924275.0
bus_124 is Healthy
bus_135 is Healthy
bus_154 is Healthy

In [14]:
print('Healthy Bus: ',bus_healthy_list)

Healthy Bus:  ['bus_4', 'bus_6', 'bus_7', 'bus_10', 'bus_18', 'bus_20', 'bus_21', 'bus_24', 'bus_28', 'bus_31', 'bus_33', 'bus_36', 'bus_37', 'bus_38', 'bus_39', 'bus_41', 'bus_42', 'bus_44', 'bus_48', 'bus_49', 'bus_50', 'bus_51', 'bus_57', 'bus_63', 'bus_73', 'bus_74', 'bus_77', 'bus_80', 'bus_91', 'bus_99', 'bus_103', 'bus_109', 'bus_112', 'bus_115', 'bus_116', 'bus_117', 'bus_124', 'bus_135', 'bus_154']

In [15]:
print('Unhealthy Bus: ',bus_unhealthy_list)

Unhealthy Bus:  ['bus_1', 'bus_13', 'bus_23', 'bus_30', 'bus_34', 'bus_35', 'bus_55', 'bus_61', 'bus_66', 'bus_68', 'bus_75', 'bus_88', 'bus_90', 'bus_97', 'bus_108', 'bus_111', 'bus_118', 'bus_119', 'bus_123']

In [16]:
def tof_all_modules(bus_list):
    mtf={}
    for i in range (1,17):
            mtf.update({f'module no{i}':[]})

    for bus in bus_list:
        df_bus_dates = build_data_vis.sort_bus_by_date(directory, bus)
        no_of_files=df_bus_dates.shape[0]


        for module in range(1, 17):
            module_df = build_data_vis.build_module_average_df(directory, bus, module)

            for i in range (no_of_files-1):

                if (module_df.iloc[i,12]>module_df.iloc[i+1,12]):
                    mtf[f'module no{module}'].append(round(module_df.iloc[i,12]))
    
    length=[]
    for module, failure in mtf.items():
        length.append(len(failure))
    print(length)
    #print(sum(length)/len(length))
    return mtf

In [17]:
mtf= tof_all_modules(bus_healthy_list)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [19]:
mtf= tof_all_modules(bus_unhealthy_list)

[7, 11, 9, 11, 10, 12, 12, 10, 9, 7, 9, 8, 11, 7, 11, 10]